#img1 {
    width: 417px;
    height: 278px;
}

#img2 {
    width: 417px;
    height: 626px;
}

#img3 {
    width: 417px;
    height: 626px;
}

#img4 {
    width: 417px;
    height: 260px;
}

#img5 {
    width: 417px;
    height: 278px;
}

#img6 {
    width: 417px;
    height: 278px;
}

.img-aside {
    width: 217px;
    height: 144px;
}